@model BlackJackProject.Models.BlackJack


@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Draw the blackjack table*@
<img src="~/images/blackjack_table.png" class="center-block" />


@*Draw the amount on the table*@
<label class="pot"> Amount on table: @Model.Pot </label>


@*Draw the dealers hand*@
@{
    int d = 0;
    int dCardValue = 0;
}
@foreach (var card in Model.Dealer.Cards)
{
    string dealer_card = "dealer_card" + d;
    <img class="@dealer_card" src="~/images/PlayingCards/@card.ImageUrl" width="150" height="150" alt="@card.Value Playing card" />
    dCardValue += card.Value;
    d++;
}

@*Draw the label for the dealers value*@
<label class="dealer_value">Dealer has: @dCardValue</label>


@*Draw the players hand*@
@{
    int p = 0;
    int pCardValue = 0;
}
@foreach (var card in Model.Player.Hand)
{
    string player_card = "player_card" + p;
    <img class="@player_card" src="~/images/PlayingCards/@card.ImageUrl" width="150" height="150" alt="@card.Value Playing card" />
    pCardValue += card.Value;
    p++;
}

@*Draw the label for the dealers value*@
<label class="player_value">Player has: @pCardValue</label>

