@model BlackJackProject.Models.BlackJack


@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Draw the blackjack table*@
<img src="~/images/blackjack_table.png" class="center-block" />


@*Draw the amount on the table*@
<label class="pot"> Amount on table: @Model.Pot </label>


@*Draw the dealers hand*@
@{
    int d = 0;
    Model.Dealer.getHandValue();
}

@*Loop threw each card and get needed values*@
@foreach (var card in Model.Dealer.Hand)
{
    //Pull the name for the style class
    string dealer_card = "dealer_card" + d;

    //Draw each card
    <img class="@dealer_card" src="~/images/PlayingCards/@card.ImageUrl" width="150" height="150" alt="@card.Value Playing card" />

    //Keeps track of the total number of cards in dealers hand
    d++;
}

@*Draw the label for the dealers value*@
<label class="dealer_value">Dealer has: @Model.Dealer.HiddenHandValue</label>


@*Draw the players hand*@
@{
    int p = 0;
    Model.Player.getHandValue();
}

@*Loop threw each card and get needed values*@
@foreach (var card in Model.Player.Hand)
{
    //Pull the name for the style class
    string player_card = "player_card" + p;

    //Draw each card
    <img class="@player_card" src="~/images/PlayingCards/@card.ImageUrl" width="150" height="150" alt="@card.Value Playing card" />

    //Keeps track of the total number of cards in players hand
    p++;
}

@*Draw the label for the dealers value*@
<label class="player_value">Player has: @Model.Player.HandValue</label>

@*Draw the hit and stand button*@
@if (Model.Winner == "")
{
    @using (Html.BeginForm("Action", "Home", FormMethod.Post))
    {
        <input type="submit" name="choice" class="btn_hit" value="Hit" />
        <input type="submit" name="choice" class="btn_stand" value="Stand" />
    }
}


@*Once the game is finished show the continue btns*@
@using (Html.BeginForm("continueGame", "Home", FormMethod.Post))
{
    @if (Model.Winner == Model.Player)
    {
        <h1>WINNER WINNER, CHICKEN DINNER</h1>
        <button type="submit">Click here to continue!</button>
    }
    else if (Model.Winner == Model.Dealer)
    {
        <h1>YOU NO LUCKY!</h1>
        <button type="submit">Click here to continue!</button>
    }
}


